div #left {
    margin-top: 20px;
    position: relative;
}
div #logo {
    position: absolute;
    border: 5px solid #4b4d52;
    border-radius: 50px;
    display: block;
    margin-top: auto;
}
div #overlay {
    position: fixed;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    display: block;
    margin-top: auto;
    width: 860px;
    height: 664px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: 300ms;
}

div #overlay:hover {
    background-color: rgba(0, 0, 0, 0);
}
